@using System
@{
  Layout = "_Layout";
}
<br><br><br><br>
@model AudioProject.Models.Sounds;
@using Microsoft.AspNetCore.Identity
@using AudioProject.Models
@inject SignInManager<ApplicationUser> signInManager
@inject UserManager<ApplicationUser> userManager

<br><br>

<button id="startsound" class="btn btn-outline-info btn-block">begin audio</button>

<br><br><br>

<h3 style="text-align:center">select chords</h3>
<hr> <br>
<canvas id="canvas"></canvas>
@if (signInManager.IsSignedIn(User))
{
  <h1>Title: @Html.DisplayFor(model => model.Name)</h1>
  var currentUser = await userManager.GetUserAsync(User);
  @using (Html.BeginForm())
  {

    <div class=" hiddenOverflow">
      <input id="chord-1" value="1" type="radio" name="Chords" />
      <input id="chord-2" value="2" type="radio" name="Chords" />
      <input id="chord-3" value="3" type="radio" name="Chords" />
      <input id="chord-4" value="4" type="radio" name="Chords" />
      <input id="chord-5" value="5" type="radio" name="Chords" />


      <ul>
        <li><label for="chord-1">1</label></li>
        <li><label for="chord-2">2</label></li>
        <li><label for="chord-3">3</label></li>
        <li><label for="chord-4">4</label></li>
        <li><label for="chord-5">5</label></li>
      </ul>
    </div><br><br>

    <div class="field">
      <section class="section">
        <span class="select">
          <select id="SynthType" class="form-control" name="SynthType">
            <option value="@Model.SynthType" selected>@Model.SynthType</option>
          </select>
        </span>
      </section>
    </div>
    <br>

    <div class="field">
      <section class="section">
        <span class="select">
          <select id="OscillatorType" class="form-control" name="OscillatorType">
            <option value="@Model.OscillatorType" selected>@Model.OscillatorType</option>
          </select>
        </span>
      </section>
    </div><br>

    <div class="field">
      <select id="OscillatorPartials" class="form-control" name="OscillatorPartials">
        <option value="@Model.OscillatorPartials" selected>@Model.OscillatorPartials</option>
      </select>
    </div>
    <br><br>
    <p>Volume: <span id="volume-output"></span></p>
    <div class="slidecontainer">
      <input type="range" min="50" max="100" value="80" class="slider" id="volume-wet">
    </div>
    <br>
    <p>Filter: <span id="filter-output"></span></p>
    <div class="slidecontainer">
      <input type="range" min="20" max="10000" value="5000" class="slider" id="FilterOutput" name="FilterOutput">
    </div>
    <br>
    <p>Delay: <span id="delay-output"></span></p>
    <div class="slidecontainer">
      <input type="range" min="0" max="100" value="0" class="slider" id="DelayOutput" name="DelayOutput">
    </div>
    <br>
    <p>Room Size: <span id="reverb-output"></span></p>
    <div class="slidecontainer">
      <input type="range" min="3" max="200" value="0" class="slider" id="ReverbOutput" name="ReverbOutput">
    </div>
    <br>
    <p>BPM: <span id="bpm-output"></span></p>
    <div class="slidecontainer">
      <input type="range" min="20" max="300" value="100" class="slider" id="BPMOutput" name="BPMOutput">
    </div>
    <br>
    <div>
      <label>Save to My Library</label>
      <input type="submit" value="Edit my Sound" class="submit" />
    </div>
  }
}
